.section {
  padding: 5rem 0;
  background: var(--color-gray-50, #f1f5fa);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 40rem) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 64rem) {
  .container {
    padding: 0 2rem;
  }
}

.title {
  padding-top: 10rem;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 48rem) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 4rem;
  }
}

.description {
  margin-bottom: 2rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description p {
  font-size: 1.125rem;
  line-height: 1.625;
  color: var(--color-gray-600);
}

@media (min-width: 48rem) {
  .description p {
    font-size: 1.25rem;
  }
}
